/Diabetes_with_Data_Visulaization.ipynb
/Encodings.ipynb
/HeartAttack_Logistics_regression.ipynb
/Iris_and_Tips_KNN.ipynb
/Medicaldataset.csv
/patient_data.csv
/sample_Data_Preprocessing.ipynb
/sample_preprocessing_data.csv
/Scaled_Data.csv